
.message-container {
  display: flex;
  margin: 10px 0;
  
  &.self {
    flex-direction: row-reverse;
  }
  
  .content {
    .box {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 7px 15px;
      margin: 0 10px;
      border: 1px solid #eeee;
      border-radius: 4px;
      min-width: 25em;
      box-shadow: 0px 4px 4px rgba(0,0,0,0.08);
      
      &.self {
        background: $primary-color;
        color: #fff;
      }
    }
    
    .username {
      margin: 1em 1.3em;
      color: #908484;
      font-size: 0.85em;
      
      &.self {
        text-align: end;
      }
    }
  }
}

